<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="no">

	<!-- <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${global.config.path}/push-server-config.properties</value>
			</list>
		</property>
	</bean> -->
	<!-- 配置log4j -->
<!-- 	<bean id="log4jInitializer"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>file:${global.config.path}/log4j.properties</value>
			</list>
		</property>
	</bean> -->
	
	<!-- <bean id="lengthFieldBasedFrameDecoder" class="io.netty.handler.codec.LengthFieldBasedFrameDecoder">
		<constructor-arg index="0"><value>65535</value></constructor-arg>
		<constructor-arg index="1"><value>0</value></constructor-arg>
		<constructor-arg index="2"><value>4</value></constructor-arg>
		<constructor-arg index="3"><value>0</value></constructor-arg>
		<constructor-arg index="4"><value>4</value></constructor-arg>
	</bean>
	<bean id="lengthFieldPrepender" class="io.netty.handler.codec.LengthFieldPrepender">
		<constructor-arg ><value>4</value></constructor-arg>
	</bean>
	<bean id="stringDecoder" class="io.netty.handler.codec.string.StringDecoder">
		<constructor-arg><value>UTF-8</value></constructor-arg>
	</bean>
	<bean id="stringEncoder" class="io.netty.handler.codec.string.StringEncoder">
		<constructor-arg><value>UTF-8</value></constructor-arg>
	</bean>

	<bean id="tcpChildHandler" class="com.vanilla.server.TcpChildHandler"></bean> -->

<!-- 	<bean id="serverConfig1" class="com.vanilla.server.config.ServerConfig">
		<property name="port" value="${port}"/>
		<property name="bossGroup" value="${bossGroup}"/>
		<property name="workerGroup" value="${workerGroup}"/>
		<property name="handlers">
			<list>
				<ref bean="lengthFieldBasedFrameDecoder"/>
				<ref bean="lengthFieldPrepender"/>
				<ref bean="stringDecoder"/>
				<ref bean="stringEncoder"/>
				<ref bean="tcpChildHandler"/>
			</list>
		</property>
	</bean> -->

</beans>