<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
       default-lazy-init="false">
      
      
      <bean id="curatorZookeeperTransporter" class="com.vanilla.remoting.zookeeper.curator.CuratorZookeeperTransporter"></bean>
      
      <bean id="vanillaRegisryFactory" class="com.vanilla.register.zookeeper.ZookeeperRegisryFactory">
      	<property name="zookeeperTransporter" ref="curatorZookeeperTransporter"/>
      </bean>
      
      <bean id="echoService" class="com.vanilla.rpc.thrift.consumer.ThriftConsumerProxyFactory">
      	   <property name="version" value="1.0"/>
      	   <property name="serviceName" value="com.vanilla.rpc.thrift.EchoService"/>
      </bean> 
      
      <bean class="com.vanilla.rpc.thrift.consumer.ThriftInvokerFactory">
      
      </bean>

 </beans>